<!DOCTYPE html>
<html>
<head>
<title>OpenLayers Google</title>
<link rel="icon" type="image/png" href="<%= root_path+'images/icons/open_layer_icon.png'%>"/>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYQqqe9vWTQNrf2pv3C9fdzAbukst7cKk" type="text/javascript"></script>
<script type="text/javascript" src="http://dev.openlayers.org/OpenLayers.js"></script>
<script type="text/javascript" src="<%= root_path+'FeaturePopups.js'%>"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/css/ol.css">
<link rel="stylesheet" href="<%= root_path+'css/bootstrap.min.css'%>">
<script type="text/javascript">
window.onload = function() {
 // set layer
 var osm = new OpenLayers.Layer.Google('Street');

 // set icon marker
 var icon = new OpenLayers.StyleMap({
  'externalGraphic': 'https://pngimg.com/uploads/gps/gps_PNG64.png',
  'graphicOpacity': 1.0,
  'graphicWith': 16,
  'graphicHeight': 32,
  'graphicYOffset': -32,
  'label' : "${title} : ${add}",
  labelYOffset: '${pos}',
  fontColor: "bold",
                    fontSize: "10px",
                    fontFamily: "Courier New, monospace",
                    fontWeight: "bold",
 });

 var map = new OpenLayers.Map({
  // div element
  'div': 'map',

  // set center
  'center': new OpenLayers.LonLat(13125273.0316, -237257.9905),

  // set zoom
  'zoom': 5,

  // set layers
  'layers': [osm]
 });

 // set vector marker
 var vector_marker = new OpenLayers.Layer.Vector('Marker', {
  'styleMap': icon,
  'strategies': [new OpenLayers.Strategy.Fixed()],
  'protocol': new OpenLayers.Protocol.HTTP({
   'url': '/datamarker',
   'params': {},
   'format': new OpenLayers.Format.GeoJSON()
  })
 });
 // add to layer
 map.addLayer(vector_marker);


 // add merker point
 var marker = new OpenLayers.Layer.Markers('marker');
 map.addLayer(marker);

 // create event
 var singleEventListeners = {
  'beforepopupdisplayed': function(e) {
   var sel = e.selection;
   popup(sel.feature.attributes, true);
   return false;
  }
 }

 // Create control and add some layers
 var fp_control = new OpenLayers.Control.FeaturePopups({
  'boxSelectionOptions': {},
  'popupSingleOptions': {'eventListeners': singleEventListeners},
  'layers': [[vector_marker, {'templates': {'hover': '<b>${.title}</b>', 'single': ' ', 'item': '<li>${.title}</li>'}}]]
 });
 map.addControl(fp_control);
}

function reverseGeocode(coords) {
	var tmp = null;
		
	jQuery.ajax({
        url: 'http://nominatim.openstreetmap.org/reverse?format=json&lon=' + coords.lng + '&lat=' + coords.lat,
		async: false,
        success: function (result) {
           // console.log(result.display_name);
		   tmp = result.display_name;
			//console.log(tmp);
        }
    });
	
	//console.log(JSON.parse(tmp));
	return tmp;
}

function popup(json, status) {
 if (status == true) {
  $('.background-popup').fadeIn(500);
  $('.popup').fadeIn(700);
  $('.popup > .popup-heading > .popup-heading-title').html('<h3><span class="label label-success">'+json.title+'</span></h3>');
  $.url = encodeURI('https://www.google.co.id/maps/search/'+json.lat+','+json.lng); 
  var coord = reverseGeocode(json);
  //console.log(coord);
  $('.popup > .popup-body').html('<h2><span class="label label-info"><a href='+$.url+' target="_blank">'+coord +'</a></span></h2>');
  

 } else if (status == false) {
  $('.background-popup, .popup').fadeOut('fast');
  $('.popup > .popup-heading > .popup-heading-title, .popup > .popup-body').html('');
 }
}
</script>
<style type="text/css">
 * { padding: 0; margin: 0; font-family: Arial; }
 .display-none { display: none; }
 .background-popup { position: fixed; width: 100%; height: 100%; background-color: #000; opacity: 0.7; z-index: 999; }
 .popup { z-index: 999; background-color: #FFF; position: absolute; left: 15%; right: 15%; top: 5%; bottom: 5%; }
 .popup > .popup-heading { padding: 15px; background-color: #DDD; }
 .popup > .popup-heading > .popup-heading-title { font-size: 22px; }
 .popup > .popup-heading > .close { position: absolute; right: 15px; top: 20px; font-weight: bold; cursor: pointer; }
 .popup > .popup-body { padding: 7px; font-size: 14px; }
 .navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 10px;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>

<div class="background-popup display-none"></div>
<div class="popup display-none" style="display: none;word-break: break-all!important;;width: 500px!important;height: 250px!important;text-align: center!important;margin: auto!important;">
 <div class="popup-heading">
  <h3 class="popup-heading-title">asd</h3>
  <span class="close" onclick="popup({}, false)">X</span>
 </div>
 <div class="popup-body">
  
 </div>
</div>

<div id="map" style="position: fixed; width: 100%; height: 100%;"></div>
<div class="navbar">
<a href="/welcome" class="active">All Position</a>
<%= link_to 'Own Position',own_path(username:current_user.username) %>
<a href="#" onclick="getLocation()">Add/Update Position</a>
<a href="#" class="label label-primary" onclick="window.location.href='logout'">Logout</a>
<a href="#" style="font-size:14px;text-align:center;color:greenyellow">Hello, <%= current_user.username %></a><img id="loader" src="<%= root_path+'gif/loader.gif'%>" style="display:none;width: 52px;height: auto;" alt="Please Wait"> 
</div> 
<script>
var x = document.getElementById("demo");

function getLocation() {
  document.getElementById("loader").style.display = "block";
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } 
}

function showPosition(position) {
    var coordin = [];
    $('#loader').show();
    coordin.lat = position.coords.latitude;
    coordin.lng = position.coords.longitude;
    $.address = reverseGeocode(coordin);
    $.ajaxSetup({
        headers: {
            'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
        }
    });
    jQuery.ajax({
          url: 'saveLocation',
          method:'GET',
          async: false,
          data:{
            lat: position.coords.latitude,
            lng: position.coords.longitude,
            add: $.address
          },
          success: function (result) {
           location.reload();
          }
      });
  
}
</script>
</body>
</html>